# Tarea II Inversiones

In [1]:
import numpy as np
import pandas as pd
df=pd.read_excel('PredictorData2021.xlsx',sheet_name='Monthly',header=0)
df.head()

C:\Users\AsusViHero\anaconda3\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

,yyyymm,sp500,d12,e12,bm,tbl,aaa,baa,lty,ntis,rfree,infl,ltr,corpr,svar,crsp_spvw,vol
0,187101,4.44,0.26,0.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,187102,4.50,0.26,0.4,NaN,NaN,NaN,NaN,NaN,NaN,0.004967,NaN,NaN,NaN,NaN,NaN,NaN
2,187103,4.61,0.26,0.4,NaN,NaN,NaN,NaN,NaN,NaN,0.004525,NaN,NaN,NaN,NaN,NaN,NaN
3,187104,4.74,0.26,0.4,NaN,NaN,NaN,NaN,NaN,NaN,0.004252,NaN,NaN,NaN,NaN,NaN,NaN
4,187105,4.86,0.26,0.4,NaN,NaN,NaN,NaN,NaN,NaN,0.004643,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
# Acotar el rango de datos entre 1926/11-2010/12 para comparar con el excel que hiciste
#df=df.loc[(df["yyyymm"]>=192611) & (df["yyyymm"]<=201012)]
#df.reset_index(inplace=True)
#df.drop('index',axis=1,inplace=True)
#df

## a) 
Genere el logaritmo del exceso de retorno (equity premium) como:
$ùëüùë°=ùëôùëúùëî(1+ùê∂ùëÖùëÜùëÉùë°ùëÜùëÉùë£ùë§)‚àíùëôùëúùëî(1+ùëÖùëìùë°‚àí1)$
Donde ùê∂ùëÖùëÜùëÉùë°ùëÜùëÉùë£ùë§ es el equity premium incluyendo dividendos en ùë° y ùëÖùëìùë°‚àí1 la tasa libre de riesgo (rfree) en ùë°‚àí1.

In [3]:
aux_crsp=df["crsp_spvw"][1:].reset_index().drop('index',axis=1)


aux_rfree=df["rfree"][:-1].reset_index().drop('index',axis=1)

aux_rt = np.log(1+aux_crsp["crsp_spvw"]) - np.log(1+aux_rfree["rfree"])
df["rt"] = pd.concat([pd.Series(np.nan),pd.Series(aux_rt)]).reset_index().drop('index',axis=1)
df["rt"]=df["rt"]*100

## b)
Bas√°ndose en Welch y Goyal (2008) construya y/o seleccione los siguientes predictores:

In [4]:
# i)
log_dp = np.log(df["d12"])-np.log(df["sp500"])
log_dp[1:]=log_dp[:-1]
log_dp[0]=np.nan
df["log_dp"] =log_dp

# ii)
rez_sp500 = df["sp500"][:-1].reset_index().drop('index',axis=1)
d12_aux = df["d12"][1:].reset_index().drop('index',axis=1)
df["log_dy"] = np.log(d12_aux["d12"])-np.log(rez_sp500["sp500"])
# iii)
log_ep = np.log(df["e12"])-np.log(df["sp500"])
log_ep[1:]=log_ep[:-1]
log_ep[0]=np.nan
df["log_ep"]= log_ep
# iv)
log_de = np.log(df["d12"])-np.log(df["e12"])
log_de[1:]=log_de[:-1]
log_de[0]=np.nan
df["log_de"]= log_de
# xi)
tms = df["lty"] - df["tbl"]
tms[1:]=tms[:-1]
tms[0]=np.nan
df["tms"]=tms*100
# xii)
dfy = df["baa"]-df["aaa"]
dfy[1:]=dfy[:-1]
dfy[0]=np.nan
df["dfy"]=dfy*100
# xii)
dfr=df["corpr"]-df["ltr"]
dfr[1:]=dfr[:-1]
dfr[0]=np.nan
df["dfr"]=dfr*100
# xii)
infl_lag=pd.DataFrame.copy(df["infl"])
infl_lag[1:]=infl_lag[:-1]
infl_lag[0]=np.nan
df["infl_lag"]=infl_lag*100

## C)
Creaci√≥n de Indicadores T√©cnicos

# Media M√≥vil

In [5]:
ma=pd.DataFrame(np.zeros(shape=(len(df),5)))
ma.rename(columns={0:"MA_1",1:"MA_2",2:"MA_3",3:"MA_9",4:"MA_12"},inplace=True)

In [6]:
ma["MA_1"]=pd.DataFrame.copy(df["sp500"])
obs=len(df)
MA_2 = np.zeros(shape=(obs,1))
for i in range(obs):
    if i==0:
        MA_2[i]=np.nan
    else:
        MA_2[i]=(1/2)*(df["sp500"][i]+df["sp500"][i-1])
ma["MA_2"]=MA_2


MA_3 = np.zeros(shape=(obs,1))
for i in range(obs):
    if i < 2:
        MA_3[i] = np.nan
    else:
        MA_3[i]=(1/3)*(np.sum(df["sp500"][i-2:i+1]))
ma["MA_3"] = MA_3

MA_9 = np.zeros(shape=(obs,1))
for i in range(obs):
    if i < 8:
        MA_9[i] = np.nan
    else:
        MA_9[i]=(1/9)*(np.sum(df["sp500"][i-8:i+1]))
ma["MA_9"] = MA_9

MA_12 = np.zeros(shape=(obs,1))
for i in range(obs):
    if i < 11:
        MA_12[i] = np.nan
    else:
        MA_12[i]=(1/12)*(np.sum(df["sp500"][i-11:i+1]))
ma["MA_12"] = MA_12
ma["MA_12"]

0               NaN
1               NaN
2               NaN
3               NaN
4               NaN
           ...
1807    3925.805000
1808    4004.516667
1809    4115.801667
1810    4194.582500
1811    4278.758333
Name: MA_12, Length: 1812, dtype: float64

In [7]:
ma["S_1_9"]=np.array(ma["MA_1"]>=ma["MA_9"]).astype("int")

ma["S_1_12"]=np.array(ma["MA_1"]>=ma["MA_12"]).astype("int")

ma["S_2_9"]=np.array(ma["MA_2"]>=ma["MA_9"]).astype("int")

ma["S_2_12"]=np.array(ma["MA_2"]>=ma["MA_12"]).astype("int")

ma["S_3_9"]=np.array(ma["MA_3"]>=ma["MA_9"]).astype("int")

ma["S_3_12"]=np.array(ma["MA_3"]>=ma["MA_12"]).astype("int")
for i in ["S_1_9","S_1_12","S_2_9","S_2_12","S_3_9","S_3_12"]:
    df[i]=ma[i]

## Momentum

In [8]:
MOM_9=np.empty(shape=(obs,1))
for i in range(obs):
    if i < 9:
        MOM_9[i]=np.nan
    else:
        MOM_9[i]=int(df["sp500"][i-1]>=df["sp500"][i-9])
        
assert np.sum(np.isnan(MOM_9)) == 9

MOM_12=np.empty(shape=(obs,1))
for i in range(obs):
    if i < 12:
        MOM_12[i]=np.nan
    else:
        MOM_12[i]=int(df["sp500"][i-1]>=df["sp500"][i-12])
        
assert np.sum(np.isnan(MOM_12)) == 12
df["mom_9"]=MOM_9
df["mom_12"]=MOM_12

## Volume

In [9]:
#obv=pd.DataFrame(np.zeros(shape=(len(df),1)))
D_k=np.zeros(shape=(obs,1))
for i in range(obs):
    if i==0:
        D_k[i]=np.nan
    else:
        D_k[i]=int(df["sp500"][i]>=df["sp500"][i-1])
D_k[D_k==0]=-1

aux_obv= np.zeros(shape=(obs,1))
for i in range(obs):
    if i==0:
        aux_obv[i]=np.nan
    else:
        aux_obv[i]=df["vol"][i]*D_k[i]
obv_t=np.zeros(shape=(obs,1))

for i in range(obs):
    obv_t[i]=np.nansum(aux_obv[0:i+1])
ma_obv=pd.DataFrame(np.zeros(shape=(obs,5)))
ma_obv.rename(columns={0:"MA_obv_1",1:"MA_obv_2",2:"MA_obv_3",3:"MA_obv_9",4:"MA_obv_12"},inplace=True)
ma_obv["MA_obv_1"]=obv_t

In [10]:
ma_obv_2=np.zeros(shape=(obs,1))
for i in range(obs):
    if i==0:
        ma_obv_2[i]=np.nan
    else:
        ma_obv_2[i]=(1/2)*(obv_t[i]+obv_t[i-1])
        
ma_obv["MA_obv_2"]=ma_obv_2

ma_obv_3=np.zeros(shape=(obs,1))
for i in range(obs):
    if i<2:
        ma_obv_3[i]=np.nan
    else:
        ma_obv_3[i]=(1/3)*(np.nansum(obv_t[i-2:i+1]))
        
ma_obv["MA_obv_3"]=ma_obv_3


ma_obv_9=np.zeros(shape=(obs,1))
for i in range(obs):
    if i<8:
        ma_obv_9[i]=np.nan
    else:
        ma_obv_9[i]=(1/9)*(np.nansum(obv_t[i-8:i+1]))
        
ma_obv["MA_obv_9"]=ma_obv_9


ma_obv_12=np.zeros(shape=(obs,1))
for i in range(obs):
    if i<11:
        ma_obv_12[i]=np.nan
    else:
        ma_obv_12[i]=(1/12)*(np.nansum(obv_t[i-11:i+1]))
        
ma_obv["MA_obv_12"]=ma_obv_12

In [11]:
ma_obv["S_obv_1_9"]=np.array(ma_obv["MA_obv_1"]>=ma_obv["MA_obv_9"]).astype("int")

ma_obv["S_obv_1_12"]=np.array(ma_obv["MA_obv_1"]>=ma_obv["MA_obv_12"]).astype("int")

ma_obv["S_obv_2_9"]=np.array(ma_obv["MA_obv_2"]>=ma_obv["MA_obv_9"]).astype("int")

ma_obv["S_obv_2_12"]=np.array(ma_obv["MA_obv_2"]>=ma_obv["MA_obv_12"]).astype("int")

ma_obv["S_obv_3_9"]=np.array(ma_obv["MA_obv_3"]>=ma_obv["MA_obv_9"]).astype("int")

ma_obv["S_obv_3_12"]=np.array(ma_obv["MA_obv_3"]>=ma_obv["MA_obv_12"]).astype("int")
for i in ["S_obv_1_9","S_obv_1_12","S_obv_2_9","S_obv_2_12","S_obv_3_9","S_obv_3_12"]:
    df[i]=ma_obv[i]

In [12]:
# Media Hist√≥rica
hst_avg=np.zeros(shape=(obs,1));
for i in range(obs):
    if i==0:
        hst_avg[i]=np.nan
    else:
        hst_avg[i]=df.loc[1:i,"rt"].mean()
df["hst_avg"]=hst_avg
df["hst_avg"]

0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
          ...
1807    0.547408
1808    0.542826
1809    0.548279
1810    0.547170
1811    0.550381
Name: hst_avg, Length: 1812, dtype: float64

## D) Estad√≠stica Descriptiva

In [13]:
#Selecci√≥n de datos relevantes
df=df.loc[df['yyyymm']>=196812,:]
# Ajustar los predictores en t con sus rezagos para realizar posteriormente las estimaciones
pred_ajustar=["svar","bm","ntis","tbl","lty","ltr"]
for i in pred_ajustar:
    aux_prd=pd.DataFrame.copy(df[i])
    aux_prd[1:]=df[i][:-1]
    aux_prd[0]=np.nan
    df[i]=aux_prd
df[["rt","log_dp","log_dy","log_ep","log_de",'svar',"bm","ntis","tbl","lty","ltr","tms","dfy","dfr","infl_lag","S_1_9","S_1_12","S_2_9","S_2_12","S_3_9","S_3_12","mom_9","mom_12","S_obv_1_9","S_obv_1_12","S_obv_2_9","S_obv_2_12","S_obv_3_9","S_obv_3_12"]].apply(['mean','std','skew','kurtosis','autocorr']).T.round(2)

            mean   std  skew  kurtosis  autocorr
rt          0.48  4.42 -0.69      2.39      0.04
log_dp     -3.65  0.42  0.09     -1.01      0.99
log_dy     -3.65  0.42  0.09     -1.00      0.99
log_ep     -2.87  0.46 -0.51      1.96      0.99
log_de     -0.78  0.32  3.07     16.57      0.99
svar        0.00  0.01  9.75    114.54      0.39
bm          0.47  0.28  0.89     -0.39      0.99
ntis        0.01  0.02 -0.41     -0.29      0.98
tbl         0.05  0.03  0.60      0.32      0.99
lty         0.06  0.03  0.36     -0.17      0.99
ltr         0.01  0.03  0.37      2.07      0.04
tms         1.92  1.46 -0.47      0.02      0.95
dfy         1.07  0.43  1.87      4.68      0.96
dfr         0.02  1.57 -0.68      7.20     -0.04
infl_lag    0.33  0.37 -0.09      2.96      0.60
S_1_9       0.70  0.46 -0.85     -1.28      0.70
S_1_12      0.73  0.45 -1.01     -0.98      0.77
S_2_9       0.70  0.46 -0.89     -1.21      0.75
S_2_12      0.72  0.45 -0.99     -1.01      0.82
S_3_9       0.70  0.46 -0.90     -1.19      0.79
S_3_12      0.72  0.45 -1.00     -1.00      0.82
mom_9       0.72  0.45 -0.96     -1.08      0.75
mom_12      0.74  0.44 -1.09     -0.81      0.80
S_obv_1_9   0.70  0.46 -0.85     -1.28      0.58
S_obv_1_12  0.72  0.45 -0.96     -1.08      0.68
S_obv_2_9   0.69  0.46 -0.80     -1.36      0.76
S_obv_2_12  0.71  0.45 -0.94     -1.12      0.82
S_obv_3_9   0.70  0.46 -0.88     -1.22      0.78
S_obv_3_12  0.71  0.46 -0.92     -1.16      0.84

# Parte 2

In [14]:
def MCO(var_depe,var_indepe):
    cte=np.ones(shape=(len(var_indepe),1))
    x=np.column_stack((cte,var_indepe))
    x_tx_inv=np.linalg.inv(np.matmul(x.T,x))
    x_ty=np.matmul(x.T,var_depe)
    coef_mco=np.matmul(x_tx_inv,x_ty)
    return coef_mco.T

Per√≠odo in sample es 1968:12-1989:12

In [25]:
df.reset_index(drop=True,inplace=True)
pos_198912 = 252
n_regresiones=384
predictores=["log_dp","log_dy","log_ep","log_de",'svar',"bm","ntis","tbl","lty","ltr","tms","dfy","dfr","infl_lag","S_1_9","S_1_12","S_2_9","S_2_12","S_3_9","S_3_12","mom_9","mom_12","S_obv_1_9","S_obv_1_12","S_obv_2_9","S_obv_2_12","S_obv_3_9","S_obv_3_12"]
R_2_os_dict=dict.fromkeys(predictores,0)
for x in predictores:
    errores_modelo=np.zeros(shape=(n_regresiones,1))
    errores_benchmark=np.zeros(shape=(n_regresiones,1))
    for i in range(n_regresiones):
        coef_mco= MCO(df["rt"][1:pos_198912+1+i],df[x][1:pos_198912+1+i])
        r_predicho=coef_mco[0]+coef_mco[1]*df[x][pos_198912+1+i]
        error_modelo=df["rt"][pos_198912+1+i]-r_predicho
        errores_modelo[i]=error_modelo**2
        error_benchmark=df["rt"][pos_198912+1+i]-df["hst_avg"][pos_198912+1+i]
        errores_benchmark[i]=error_benchmark**2
    R_2_os=1-(errores_modelo.mean()/errores_benchmark.mean())
    R_2_os_dict[x]=R_2_os

In [26]:
R_2_os_dict

{'log_dp': -0.0237844938595424,
 'log_dy': nan,
 'log_ep': -0.015592896867284711,
 'log_de': -0.020637408438391347,
 'svar': -0.03302339322135328,
 'bm': -0.01162966349543515,
 'ntis': -0.02625729085766748,
 'tbl': -0.0033917663487472716,
 'lty': -0.004327406573977344,
 'ltr': -0.013384215296633473,
 'tms': -0.01793119632714424,
 'dfy': -0.034106728025514954,
 'dfr': -0.01542654004593147,
 'infl_lag': -0.017978338795890725,
 'S_1_9': 0.16373953726928447,
 'S_1_12': 0.11779581007545448,
 'S_2_9': 0.0484843118181546,
 'S_2_12': 0.040945026725306644,
 'S_3_9': 0.01583927290602183,
 'S_3_12': 0.014386153548592073,
 'mom_9': -0.00992487259435304,
 'mom_12': -0.007491323074674261,
 'S_obv_1_9': 0.14970564442127965,
 'S_obv_1_12': 0.09925005532250974,
 'S_obv_2_9': 0.02470682674051805,
 'S_obv_2_12': 0.037784100544530075,
 'S_obv_3_9': 0.0201432731320228,
 'S_obv_3_12': 0.01761718523719702}